.seccc{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(7, 7, 54);

   
    
    
}
.div,h2, p{
    color: white;
    padding-left: 40px;
    font-size: large;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    padding: 10px;
    margin-left: 40px;
    width: 100px;
    color: white;
    background-color: rgb(46, 183, 247);
    border: none;
    margin-top: 20px;
    
}

.seccc, vid{
    justify-content: left;   
  
               
}
div{
    margin: 20px;
    
    
}

.h2{
    margin-top: 50px;
}